/*
    Created on : 25 Mar, 2015, 10:59:26 PM
    Author     : Narendra Singh
*/

body {
    margin: 0;
    background-color: #F6F6F6;
}
#page {
    width: 1060px;
    margin: 0 auto;
    background-color: #FFF;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#header {
    background-color: #FFFFFF;
    border-bottom: 3px solid #C32D1F;
    color: #C32D1F;
    padding: 12px;
}

#footer {
    background-color: #FFFFFF;
    border-top: 3px solid #C32D1F;
    color: #C32D1F;
    padding: 12px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
a {
    text-decoration: none;
}
#top-nav ul li {
    float: left;
    margin-left: 25px;
}
#top-nav ul li a {
    color: #C32D1F;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#content {
    min-height: 550px;
}
