<input type="text" class="form-control" id="date"/>
<hr/>
<input type="file" name="Filedata" accept=".tif,.tiff,.jpeg,.jpg" id='artupload'>
<input type="button" id="uploadBtn"  class=".btn-default" value="upload"/>
<hr/>
<input type="text" class="form-control" id="tokenizer-demo"/>
<div id="tokenDropdownContainer"></div>