<h1>Narendra</h1>
<div class="item col-md-6">
    <input type="text" class="form-control" id="date"/>
</div>
<span class="btn btn-default btn-file">
    Browse <input type="file" name="Filedata" accept=".tif,.tiff,.jpeg,.jpg" id='artupload'>
</span>
    <input type="button" id="uploadBtn"  class=".btn-default" value="upload"/>
    <input type="text" class="form-control" id="tokenizer-demo"/>
</div>